{% extends 'app.html.twig' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
           {{ 'administrators.changePassword' | trans }}
        </div>
        {{ form_start(form) }}
        <div class="card-body bg-light border-top">
            {{ form_rest(form) }}
        </div>
        <div class="card-footer border-top text-end">
            <button class="btn btn-primary" type="submit">
                {{ 'submit'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
