{% extends 'common/base.html.twig' %}
{% import '/common/macros/macros.html.twig' as commonMacros %}
{% block title %} {{ item }} {% endblock %}

{% block back_url %}{{ path('configuration_integration_index') }}{% endblock %}

{% set title , subTitle  = 'integration.title'|trans(), 'integration.subTitle'|trans() %}

{# @var item \App\Domain\Document\Integration #}

{% block paragraph %}
    <div class="card-body bg-light border-top">
        <div class="row mb-3">
                <div class="col-lg col-xxl-6">
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.name'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ item.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.type'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ item.type.value|default(commonMacros.no_data()) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.webhook'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ item.webhook|default(commonMacros.no_data()) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.webhookEncryption'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ commonMacros.booleanLabel(item.webhookEncryption) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.list'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ item.list|default(commonMacros.no_data()) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.email'|trans }}</p>
                        </div>
                        <div class="col">
                            {{ item.email|default(commonMacros.no_data()) }}
                        </div>
                    </div>
                </div>

                <div class="col-lg col-xxl-6">
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p class="fw-semi-bold mb-1">{{ 'integration.label.topics'|trans }}</p>
                        </div>
                        <div class="col">
                            <ul>
                                {% for topic in item.topics %}
                                    <li>{{ topic.value|default(commonMacros.no_data()) }}</li>
                                {% else %}
                                    <li>{{ commonMacros.no_data() }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
