{% extends 'common/base.html.twig' %}
{% import '/common/macros/macros.html.twig' as commonMacros %}
{% block title %} {{ item }} {% endblock %}

{% block back_url %}{{ path('administrators_index') }}{% endblock %}

{% set title , subTitle  = item, 'administrators.detail'|trans %}

{# @var item \App\Domain\Document\Security\User #}

{% block paragraph %}
    <div class="card-body bg-light border-top">
        <div class="row mb-3">
            <div class="col-lg col-xxl-6">
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <p class="fw-semi-bold mb-1">{{ 'administrators.label.email'|trans }}</p>
                    </div>
                    <div class="col">
                        {{ item.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4">
                        <p class="fw-semi-bold mb-1">{{ 'administrators.label.enabled'|trans }}</p>
                    </div>
                    <div class="col">
                        {{ commonMacros.booleanLabel(item.enabled) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4">
                        <p class="fw-semi-bold mb-1">{{ 'administrators.label.lastLogin'|trans }}</p>
                    </div>
                    <div class="col">
                        {{ item.lastLogin ? item.lastLogin|date : commonMacros.no_data() }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4">
                        <p class="fw-semi-bold mb-1">{{ 'administrators.multiFactorAuthentication'|trans }}</p>
                    </div>
                    <div class="col">
                        {{ commonMacros.booleanLabel(item.googleAuthenticatorEnabled) }}
                    </div>
                </div>

            </div>

            <div class="col-lg col-xxl-6">
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <p class="fw-semi-bold mb-1">{{ 'administrators.label.roles'|trans }}</p>
                    </div>
                    <div class="col">
                        <ul>
                        {% for role in item.managerPortalRoles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
