{% extends 'app.html.twig' %}

{% block title %}{{ 'menu.wizard'|trans }}{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header" style="padding:1.25rem 1.5rem;">
            <div class="row">
                <div class="col">
                    <h5 class="mb-0 text-900">
                        <a
                            href="{% block back_url %}{{ path('dashboard') }}{% endblock %}"
                            class="btn p-0"
                        >
                            <span class="fas fa-arrow-left"></span>
                        </a>
                        {{ 'menu.wizard'|trans }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-light pt-3 pb-2">
            <ul class="nav nav-pills mb-3" role="tablist" id="pill-tab2">
                {% for url, label in steps %}
                    {% if 'active' == route_class(url) %}
                        <button class="nav-link active" type="button" role="tab" aria-selected="true">
                            {{ label }}
                        </button>
                    {% else %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="{{ path(url) }}">{{ label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="progress" style="height: 2px;">
            <div class="progress-bar" role="progressbar" style="width: {{ (currentStepNumber - 1) / 4 * 100 }}%" aria-valuenow="{{ currentStepNumber - 1 }}" aria-valuemin="0" aria-valuemax="4"></div>
        </div>

        {{ form_start(form) }}

        <div class="card-body bg-light border-top" style="padding:1.25rem 1.5rem;">
            {{ form_errors(form) }}
            <div class="m-1 p-3">
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="card-footer border-top text-end" style="padding:1.25rem 1.5rem;">
            <a href="{{ path('dashboard') }}" class="btn">{{ 'cancel'|trans }}</a>
            {% if backUrl is not null %}
                <a href="{{ backUrl }}" class="btn btn-outline-secondary">{{ 'back'|trans }}</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">{{ 'next'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
